@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
    color: #1f2937;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(135deg, #001489, #0026a8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 10;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}



#logo-germina-flix {
    width: 60px;
    height: 60px;
}

#barra-pesquisa {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

#barra-pesquisa li:hover{
    transform: translateY(-2px);
}

.itens-barra-pesquisa {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.3s;
}


.itens-barra-pesquisa:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* transform: translateY(-2px); */
}

.conteudo-principal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;


}

.bloco-apresentacao {
    margin-top: 100px;
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .bloco-apresentacao {
        flex-direction: row;
        text-align: left;
    }
}

.coluna-texto {
    flex: 2;
    margin-left: -50px;

}



.titulo-principal {
    font-size: 2.5rem;
    font-weight: 700;
    width: 30ch;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
    font-size-adjust: unset;

}

@keyframes typing {
    from {
        width: 0ch;
    }
}

.subtitulo {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.destaque {
    color: #3b34bb;
    font-weight: 700;
}

.coluna-foto img {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.coluna-foto img:hover {
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.8);
}


.sobre {
    border: 3px solid #3b34bb;
    max-width: 1300px;
    margin: 2rem auto;
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}


.infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
    padding: 2rem;
    background: #fff;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 50px;
}

.infor img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.infor strong {
    color: #001489;
}



@media (min-width: 768px) {
    .infor {
        flex-direction: row;
        justify-content: center;
    }
}

.curiosidades-container {
    text-align: center;
    margin: 3rem auto;
    max-width: 1000px;
}

.curiosidades-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.curiosidade-card {
    background-color: #e3f8ff;
    padding: 1.2rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.curiosidade-card:hover {
    transform: translateY(-10px);
}

@media (min-width: 768px) {
    .curiosidades-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .curiosidades-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.lugares-geral {
    text-align: center;
    margin: 3rem auto;
    padding: 1rem;
}

.lugares-geral p {
    margin-top: 20px;
}

.lugares {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.lugares div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foto {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;

}

.foto:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 20, 137, 0.15);
    border-color: rgba(19, 60, 194, 0.481);
    border-width: 5px;
    border: 3px solid #3b34bb;
    transition: transform 0.3s ease;


}



@media (min-width: 768px) {
    .lugares {
        grid-template-columns: repeat(3, 1fr);
    }
}


section h2 {
    color: #00509e;
    margin-bottom: 2rem;
    text-align: center;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.icones img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


footer {
    background: linear-gradient(135deg, #001489, #0026a8);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 550px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
}